# C/C++ Build Artifacts
#*.d
#*.slo
#*.lo
*.o
*.obj
#*.gch
#*.pch
*.so
#*.dylib

# Executable and Output Files
*.exe
#*.out
#*.appa

# Visual Studio
.vs/
.cache/

# CMake Build Files
build/CMakeFiles/
build/CMakeCache.txt
build/cmake_install.cmake
build/Makefile
build/compile_commands.json

# Build Log Files
*.tlog
*.pdb
*.log
*.recipe
*.ilk
*.idb
*.iobj
*.ipdb

# Compiled Jauntlet Library Files
build/Jauntlet.lib
dependencies/lib/libjauntlet.a

# Linux Executable
build/scoundrills

# Profiler Files
callgrind.out.*

#*.vcxproj.FileListAbsolute.txt