# C/C++ Build Artifacts
*.o
*.obj
*.so

# Executables
*.exe
build/visualizer

# Visual Studio
.vs/
.cache/
*.vcxproj.FileListAbsolute.txt
build/Scoundrills.res

# CMake Build Files
build/CMakeFiles/
build/CMakeCache.txt
build/cmake_install.cmake
build/Makefile
build/compile_commands.json

# Build Log Files
*.tlog
*.pdb
*.log
*.recipe
*.ilk
*.idb
*.iobj
*.ipdb

# Compiled Jauntlet Library Files
build/Jauntlet.lib
dependencies/lib/libjauntlet.a

# Profiler Output Files
callgrind.out.*
build/game
build/build.ninja
build/.ninja_log
build/.ninja_deps
